@mixin centerFlex() {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

$white: #fafafa;

* {
	padding: 0;
	margin: 0;
}

body,
html {
	height: 100%;
	background-color: #454545;
	font-family: "Gloria Hallelujah", cursive;
}

.container {
	min-height: 100%;
	@include centerFlex();
}

button {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background-color: #b52929;
	color: $white;
	font-size: 60px;
	outline: none;
	box-shadow: 0 10px #5e1515;
	border: transparent;
	position: relative;
	font-family: "Gloria Hallelujah", cursive;

	&:active {
		box-shadow: none;
		top: 10px;
	}
}

h1 {
	padding: 15px;
	color: $white;
}

.overlay {
	@include centerFlex();
	display: none;
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #000000;
	p {
		font-size: 28px;
		color: $white;
		padding: 20px;
	}

	.rollNum {
		font-size: 56px;
	}

	.closeIcon {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
	}
}
